html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
  scroll-behavior: smooth;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

ul, ol {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

table thead {
  background: var(--color-main);
  border: 1px solid rgba(198, 27, 33, 0.22);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}

table tbody tr:nth-child(even) {
  background: var(--color-bg);
  border: 1px solid #EFEFEF;
}

a {
  color: var(--color-main);
  transition: var(--main-transition);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
}

.carousel-arrows {
  &__container {
    display: flex;
    &.disabled {
      .carousel-arrows__item {
        background-color: #f3f3f3;
        cursor: none;
        pointer-events: none;

        svg {
          fill: #787878;
        }
      }
    }
  }
  &__item {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    transition: background-color var(--main-transition), fill var(--main-transition);
    cursor: pointer;

    svg {
      width: 12px;
      height: 8px;
      fill: var(--color-main);
    }
    &--next {
      margin-left: -1px;
    }
    &:hover {
      background-color: var(--color-main);

      svg {
        fill: #fff;
      }
    }
  }
}

.link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  color: var(--color-main);
  transition: color var(--main-transition);

  &:hover {
    color: var(--color-main-hover);
  }
}

.play {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.34);
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  transition: background-color var(--main-transition);

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%,-50%);
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    background-color: transparent;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  padding: 13px 5px;
  border: 1px solid var(--color-main);
  border-radius: 5px;
  font-size: 14px;
  color: var(--color-main);
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  transition: background-color var(--main-transition), color var(--main-transition);
}

.btn-primary {
  background-color: var(--color-main);
  color: #fff;

  &:hover {
    border-color: var(--color-main-hover);
    background-color: var(--color-main-hover);
  }
  &:focus,
  &:active {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #9b9b9b;
  }
}

.btn-secondary {
  background-color: #fff;
  color: var(--color-main);

  &:hover {
    color: var(--color-main-hover);
    border-color: var(--color-main-hover);
  }

}

@media (min-width: 570px) {
  .visible-xs {
    display: none;
  }
}
